* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #3b3946;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator_box {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(150px, auto) repeat(5, 80px);
  justify-content: center;
  align-content: center;
  gap: 10px;
}
.calculator_display {
  background-color: #222436;
  grid-column: span 4;
  font-size: 40px;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  padding-top: 20px;
  word-wrap: break-word;
  text-align: end;
  gap: 5px;
}
.equality {
  grid-column: span 2;
}
.calculator_box button {
  font-size: 30px;
  cursor: pointer;
  border-radius: 10px;
  background: #425062;
  color: #fff;
  border: 2px solid #425062;
  transition: all ease-in 0.3s;
}
.calculator_box button:hover {
  background-color: #495bc3;
  color: #ddd;
  border: 2px solid #495bc3;
}
.previous_value {
  min-height: 50%;
  width: 100%;
  color: #ddd;
  font-size: 27px;
}
.current_value {
  min-height: 50%;
  width: 100%;
  color: #fff;
}
